<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gerador de Pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts.js"></script>
    
</head>

<body>
    <div>
        <header class="cabecalho">
            <h1>Gerador de Pedido</h1>
        </header>
        <main>
            {% block conteudo %}
            {% endblock %}
        </main>
        <footer class="rodape">
            <p>2023 - Projeto Gerador de Pedido</p>
        </footer>
    </div>
</body>

</html>