{% extends 'base.html' %}

{% block conteudo %}

    <a href="/produtos-servicos">
        <button type="submit">
            Voltar
        </button>
    </a>

    <h2>Cadastro de Produto / Serviço</h2>

    <form onsubmit="return validarFormulario('produto-servico')" method="post">
        <div>
            <label for="nome-descricao">*Nome ou Descrição:</label>
            <input type="text" id="input-cadastro-nome-descricao" name="nome-descricao">
        </div>
        <div>
            <label for="valor-unitario">*Valor Unitário:</label>
            <input type="number" id="input-cadastro-valor-unitario" name="valor-unitario">
        </div>
        <div>
            <button type="submit">
                Cadastrar
            </button>
        </div>
    </form>
    
{% endblock %}
