{% extends 'base.html' %}

{% block conteudo %}

<h2>{{msgSucesso}}</h2>

    <div class="button-container">
        <a href="/">
            <button type="submit">
                Início
            </button>
        </a>
        <a href="/cadastrar-cliente">
            <button type="submit">
                Cadastrar Novo Cliente
            </button>
        </a>
        <a href="/cadastrar-produto-servico">
            <button type="submit">
                Cadastrar Novo Produto/Serviço
            </button>
        </a>
        <a href="/cadastrar-pedido">
            <button type="submit">
                Cadastrar Novo Pedido
            </button>
        </a>
    </div>

{% endblock %}