{% extends 'base.html' %}

{% block conteudo %}

    <a href="/">
        <button type="submit">
            Início
        </button>
    </a>
    <a href="/cadastrar-produto-servico">
        <button type="submit" id="index-btn-cadastrarCliente">
            Cadastrar Novo Produto/Serviço
        </button>
    </a>
    <h2>Produtos / Serviços</h2>
    <ul>
        <table>
            <tr>
                <th>Código</th>
                <th>Nome / Descrição</th>
                <th>Valor Unitário</th>
                <!-- <th>Editar / Apagar</th> -->
            </tr>
            {% for i in produtos_servicos %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.nomeDescricao}}</td>
                <td>{{i.valorUnitario}}</td>
                <!-- <td>
                    <a href="#">
                        <img class="icones" src="https://cdn-icons-png.flaticon.com/512/61/61456.png" alt="Editar">
                    </a>
                    <a href="#">
                        <img class="icones" src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" alt="Apagar">
                    </a>
                </td> -->
            </tr>
            {% endfor %}
        </table>
    </ul>

{% endblock %}